:root {
    --page-bg-color: #E5E5E5;
    --block-bg-color: #d6b78e;
    --nav-black-color: #000000;
    --nav-font-color: #ffffff;
    --nav-hover-color: #767676;
}

@font-face { font-family: OldNewspaperTypes; src: url('/font/18832.otf'); }

body {
    height: 100%;
    background-color: var(--page-bg-color);
    margin: 0;
}

/* HEADER */
header {
    width: 100%;
    height: 17vw;
    background-color: var(--block-bg-color);
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 15vw auto 22vw 8vw;
    grid-template-rows: 1fr 5vw;
    gap: 0px 0px;
    grid-template-areas:
        "logo . search avatar"
        "nav nav nav nav";
    align-items: center;
}

.logo {
    width: 10vw;
    height: 10vw;
    grid-area: logo;
    margin: 1vw;
}

.site_name {
    font-family: OldNewspaperTypes;
}

.search {
    grid-area: search;
    width: 20vw;
    height: 40px;
    border: 2px solid var(--nav-black-color);
}

.avatar {
    grid-area: avatar;
    width: 6vw;
    height: 6vw;
}

nav {
    grid-area: nav;
    width: auto;
    height: auto;
    padding: 2px 0;
    margin-bottom: 5px;
    font-family: OldNewspaperTypes;
    /*border-top: 1px solid var(--nav-black-color);
    border-bottom: 1px solid var(--nav-black-color);*/
}

nav>ol {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

nav>ol>li {
    display: inline-block;
    position: relative;
    z-index: 0;
}

nav>ol>li>a {
    display: inline-block;
    position: relative;
    line-height: 2.5;
    padding: 0 20px;
    color: var(--nav-font-color);
    text-decoration: none;
}

nav>ol>li::before,
nav>ol>li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 50%;
    width: 95%;
    background: var(--nav-black-color);
    z-index: -2;
}

nav>ol>li::before {
    top: -0px;
    transform: skew(30deg);
}

nav>ol>li::after {
    bottom: -0px;
    transform: skew(-30deg);
}


nav>ol>li:last-child a {
    cursor: default;
    color: var(--nav-black-color);
}

nav>ol>li:last-child::before,
nav>ol>li:last-child::after {
    background: var(--nav-font-color);

}

nav>ol>li:not(:last-child):hover::before,
nav>ol>li:not(:last-child):hover::after {
    background: var(--nav-hover-color);
}

nav>ol>li:first-child {
    left: -5px;
}

nav>ol>li:first-child::before,
nav>ol>li:first-child::after {
    left: 5px;
}

.articles_wrapper {
    padding: 20px;
    margin: auto;
}

.articles_block {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-areas:
        "first . ."
        "first . last"
        ". . last";
    width: min-content;
    margin: auto;
}

.articles_block>div:nth-child(1) {
    grid-area: first;

}

.articles_block>div:nth-child(5) {
    grid-area: last;
}

article {
    background-color: var(--block-bg-color);
}

.articles_block>div:nth-child(1)>article {
    height: 100%;

}

.articles_block>div:nth-child(5)>article {
    height: 100%;
}

.articles_block>div:nth-child(1)>article>.mini_article__title,
.articles_block>div:nth-child(5)>article>.mini_article__title {
    white-space: break-spaces;
    text-overflow: inherit;

    padding-bottom: 25px;
    border-bottom: 2px solid black;
}

.articles_block>div:nth-child(1)>article>.mini_article__text,
.articles_block>div:nth-child(5)>article>.mini_article__text {
    -webkit-line-clamp: 16;
}

.mini_article {
    padding: 5px;
    min-width: 240px;
    max-width: 350px;
}

.mini_article__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 25px 10px 50px 5px;
}

.mini_article__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    margin: 10px;
}

.mini_article__wrapper-img {
    display: flex;
    margin-top: 15px;
}

.mini_article__img {
    margin: auto;
}

.--papper_effect {
    -webkit-mask-image:
        conic-gradient(at 50% 75%, white 45deg, transparent 45deg 315deg, white 315deg),
        linear-gradient(to top, transparent 10px, black 10px, white);
    -webkit-mask-size: 10px 10px, 100% 100%;
    mask-size: 10px 10px, 100% 100%;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-position: left bottom;
    mask-position: left bottom;

}

.--shadow {
    filter: drop-shadow(8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25));
    -webkit-filter: drop-shadow(8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25));
}

.article {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 40px;
}

.article__wrapper-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article__img {
    width: 80%;
    height: auto;
}

.article__title {
    font-family: OldNewspaperTypes;
    padding-bottom: 25px;
    border-bottom: 2px solid black;
    font-size: 52px;
}

.article__text {
    text-indent: 1.5em;
    text-align: justify;
    font-size: 24px;
}

.article__text:first-letter {
    text-transform: uppercase;
    font-size: 48px;
}

.--watch_more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.infograpics_wrapper {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.infograpics_wrapper__img {
    margin: 10px;
    cursor: zoom-in;
}

.reaction {
    font-size: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.--red {
    color: red;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
    overflow-y: scroll;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background:var(--block-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close {
	color: rgb(86, 54, 29);
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
    border: 3px solid rgb(86, 54, 29);
    border-radius: 12px;
}

.close:hover {
    background: rgb(86, 54, 29);
    border-color: #ffffff;
    color: #ffffff;
}

.modalDialog_description {
    font-size: 45px;
    font-family: OldNewspaperTypes;
}

.modalDialog_img {
    margin-bottom: 15px;
    width: 100%;
    height: max-content;
}

.modalDialog_img_description {
    border-top: 1px solid black;
    margin-bottom: 40px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--block-bg-color);
    font-family: OldNewspaperTypes, "Trebuchet MS", Arial, sans-serif;

}

.social-wrapper h3 {
    color: var(--nav-black-color);
    font-weight: 100;
  }

 .social-wrapper .social {
    padding-left: 0px;
  }

  .social-wrapper .social a{
    text-decoration: none;
  }

  .social-wrapper li {
    color: rgb(86, 54, 29);
    list-style-type: none;
    display: inline-block;
    justify-content: center;
    margin: 4px;
    padding: 13px;
    border: 1px solid rgb(86, 54, 29);
    cursor: pointer;
    transition: ease 0.3s;
    
  }
  .social-wrapper li:hover {
    color: var(--nav-black-color);
    padding: 10px;
    border: 3px solid var(--nav-black-color);
  }
  .social:hover > li {
    opacity: 0.6;
  }

  .social:hover > li>i {
    font-weight: 700;
  }

  .social:hover > li:hover {
    opacity: 1;
  }